q
/** FONTS TO LOAD **/
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid_serifitalic';
    src: url('../fonts/DroidSerif-Italic-webfont.eot');
    src: url('../fonts/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Italic-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Italic-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Italic-webfont.svg#droid_serifitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid_serifregular';
    src: url('../fonts/DroidSerif-webfont.eot');
    src: url('../fonts/DroidSerif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/**
 * Main styles
 */

body {
  background: #FFF9DD;
  color: #4F4E4E;
  font-family: 'OpenSansRegular', Arial, FreeSans, sans-serif;
	font-size:1.0em !important;
	line-height:1.55em;
}

.side-borders{
	border-right:#000 1px solid;
	border-left:#000 1px solid;
}


#main{
	background:#fff;
}
p{margin-bottom:12px;}

a{word-wrap:break-word;}

i, em{font-family:'OpenSansItalic'; font-style:normal;}

strong{font-family:'OpenSansBold'; font-weight:normal;color:#022249;}

#page{}
h1 {
	font-family:'droid_serifregular';
	line-height:1.2em;
	letter-spacing:-.02em;
  font-size: 2.0em;
  font-weight: normal;
  margin: .5em 0 0.7em;
  color: #022249;
}
h2 {
  font-size: 1.2em;
	font-family:'OpenSansBold';
  font-weight: normal;
  margin: 10px 0 0 0;
	color: #875E3B;
}
h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 5px 0;
  color: #3d5454;
}
h4 {
  font-size: 13px;
  margin: 5px 0;
  color: #3d5454; 
}
h1 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #4F4E4E;
  text-decoration: none;
}
h1 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #4F4E4E;
  text-decoration: underline;
}
/*
blockquote {
  background: transparent url(../images/bq-tl.png) no-repeat left top;
  padding-left: 30px;
  margin-left: 10px;
  font-style: italic;
  min-height: 0px;
}
*/
ol{
  list-style-type: decimal;
  margin-left: 25px;
}

sup{font-size:0.7em; top:-5px; position:relative;}

#main ul.menu {
	/* text-align:right; */
}
#main ul li {
}

ul.links.inline {
  display:block;
  margin-bottom:20px;
  background-color: #F6F6F6;
}
.sidebar ul li {
  margin-left: 0;
  list-style: none;
	margin-bottom:10px;
}

.sidebar li a{font-size:1.2em;}

h2 a:hover, .sidebar li a:hover,
.sidebar li.active-trail a.active{color:#E78364;}
.sidebar li.active-trail a.active{font-weight: bold; color:#E78364;}

.form-submit,
.form-button {
  background-color: #102624;
  border: 0;
  color: #FFF;
  cursor: pointer;
  overflow: visible;
  padding: 3px 5px;
}
#forum table {
  border-collapse:collapse;
  width:100%;
}
a {
  color: #E78364;
  text-decoration: none;
}
a:hover {
  color: #CF710C;
  text-decoration: underline;
}

/* Page Styles
-------------------------------------------------------------- */

#page-wrapper {
  overflow: hidden;
}
header {
	display:block;
	border-bottom:#000 1px solid;
  width: 100%;
  background: #FFEBAA;
}
.header {
	/*background:url('../images/logo_line.gif') 0 70px no-repeat;*/
  height: 100px;
  overflow: hidden;
  background: url("../images/header_bkgrd.png") 0 67px no-repeat;
}

.header-rule {
  position: absolute;
  height: 2px;
  background: #E1643D;
  top: 67px;
}

.header-rule-left {
  width: 92px;
}

.header-rule-right {
  width: 418px;
  margin-left: 282px;
}

/*
.header a,
.header a:hover,
.header a:visited {
  color: #fff;
}
	*/
#site-header {
  padding-top: 15px;
}
.logo {
	margin:15px 0 0 30px;
  float: left;
}

.inst-logos{float:right; margin-top:15px; clear:right;}
.inst-logos a{float:left;}
.dfci-logo {
  margin-right: 88px;
}

.block-search {
  clear: right;
  float: right;
}
#site-name {
  position: absolute;
  text-indent: -9999px;
}
#site-slogan {
  color: #ffffff;
}
#user-links {
  float: right;
  margin-bottom: 10px;
}
#user-links ul.links {
  float:right;
}
#user-links ul.links li a {
  color:#ffffff;
  text-decoration: none;
}

/* Home
-------------------------------------------------------------- */

#rotators{border-bottom:#000 1px solid;}
.rotator{float:left; background:#fff; height:388px;}
.rotator:last-child{width:239px;}
.rotator p{margin: 0;}
.rotator blockquote{padding:40px 30px;}
blockquote{display: table; color:#E0643D; font-family:'droid_serifitalic'; font-size:1.12em; line-height:1.8em; padding:45px 30px; background:#fff;}
blockquote:before{background:url('../images/leftquote.gif') 0 0 no-repeat; display:block; width:26px; height:19px; float:left; margin-left:-10px; padding-right:10px;}
blockquote:after{background:url('../images/rightquote.gif') 0 0 no-repeat; display:block; width:26px; height:19px; float:right; margin-right:30px;}
h1.homepage{margin-top:0; font-size:2.1em; line-height:1.3em;}
.border-right{border-right:#000 1px solid;}
/* Search
-------------------------------------------------------------- */
#search {
  float: right;
}
#search label {
  display: none;
}

/* Secondary Navigation
-------------------------------------------------------------- */
#log-in-out {
  float: right;
}
#log-in-out h2 {
  display: none;
}
#log-in-out ul {
  background-color: transparent;
  margin: 0;
}
/* Primary Navigation
-------------------------------------------------------------- */
.navigation {
  /*background: transparent url(../images/sprite.gif) repeat-x scroll left
	 * top;*/
	background:#022249;
  height: 40px;
}
nav{z-index:100;}
nav li{
  float: left;
  height: 40px;
  line-height: 40px;
}
nav li.active,
nav li.active-trail,
nav li:hover {
  background:#E0633C;
}
nav a {
  display: block;
  font-size: 15px;
  padding: 0 30px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}
nav a:hover{
  text-decoration: none;
}

nav li.active, nav li.active-trail{font-weight:bold;}

nav a, nav a:hover, nav li a.active, nav li a.active-trail{color:#fff;}

/* Superfish
-------------------------------------------------------------- */
nav h2 {
  height: 0;
  overflow: hidden;
  position: absolute;
}
nav .sf-menu, #navigation .sf-menu * {
}
nav .sf-menu {
}
nav .sf-menu ul {
  position:absolute;
  top:-999em;
}
nav .sf-menu ul li {
  width:100%;
}
nav .sf-menu li:hover {
  visibility:inherit;
}
nav .sf-menu li {
  float: left;
  position: relative;
}
nav .sf-menu a {
  position: relative;
}
nav .sf-menu li:hover ul,
nav .sf-menu li.sfHover ul {
  left: 0;
  top: 45px;
}
nav ul.sf-menu li:hover li ul,
nav ul.sf-menu li.sfHover li ul {
  top:-999em;
}
nav ul.sf-menu li li:hover ul,
nav ul.sf-menu li li.sfHover ul {
  left: 18em;
  top: 0;
}
nav ul.sf-menu li li:hover li ul,
nav ul.sf-menu li li.sfHover li ul {
  top: -999em;
}
nav ul.sf-menu li li li:hover ul,
nav ul.sf-menu li li li.sfHover ul {
  left: 18em;
  top:0;
}
nav .sf-menu {
  margin-bottom: 0;
}
nav .sf-menu a {
  text-decoration: none;
}
nav .sf-menu a.sf-with-ul {
  padding-right:2.25em;
  min-width:1px;
}
nav .sf-menu a, #navigation .sf-menu a:visited  {

}
nav .sf-menu li {
  background: transparent url(../images/sprite.gif) repeat-x scroll left top;
}
nav .sf-menu li li {
  background: transparent url(../images/sprite.gif) repeat-x scroll left top;
}
nav .sf-menu li li li {
  background: transparent url(../images/sprite.gif) repeat-x scroll left top;
  top: 0px;
}
nav .sf-menu li:hover, #navigation .sf-menu li.sfHover,
nav .sf-menu a:focus, #navigation .sf-menu a:hover, #navigation .sf-menu a:active {
  outline:0;
}
nav .sf-menu li:hover {
  background-position: left -45px;
}
nav .sf-menu li.active-trail {
  background-position: left -45px;
}
nav .sf-menu li.active-trail li {
  background-position: left 0px;
}
nav .sf-menu li li:hover {
  background-position: left -45px;
}
nav .sf-menu li li li:hover {
  background-position: left -45px;
}
.sf-sub-indicator {
  position:absolute;
  display:block;
  right:.75em;
  top:1.05em;
  width:10px;
  height:10px;
  text-indent:-999em;
  overflow:hidden;
  background:url(../images/arrows-ffffff.png) no-repeat -10px -100px;
}
a > .sf-sub-indicator { 
  top:.8em;
  background-position: 0 -100px;
}
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px;
}
nav .sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
nav .sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
nav .sf-menu ul a:focus > .sf-sub-indicator,
nav .sf-menu ul a:hover > .sf-sub-indicator,
nav .sf-menu ul a:active > .sf-sub-indicator,
nav .sf-menu ul li:hover > a > .sf-sub-indicator,
nav .sf-menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0;
}

/* messages
-------------------------------------------------------------- */

div.messages {
  margin: 0 auto 15px;
  width: 900px;
}

/* Slide Wrapper
-------------------------------------------------------------- */
#banner-wrap {
  background: transparent url(../images/sprite.gif) repeat-x scroll center -90px;
	padding-bottom:20px;
  overflow: hidden;
  width: 100%;
}
* html #banner-wrap {
  position: relative;
}
#banner-wrap.empty {
  height: 30px;
}
#banner-wrap .content {
  margin-top: 15px;
}

/* Page Content
-------------------------------------------------------------- */

.preface{
	/*
  background-color: #FFF;
  border: 2px solid #DCDADA;
  -moz-border-radius: 3px;
  -webkit-border-radius:3px;
  border-radius: 3px;
	*/
  margin-bottom: 15px;
  min-height: 0;
}
* html .sidebar .gutter,
* html .sidebar .gutter {
  height: 1%;
}
#main-wrapper {
  background: #fff:
  width:100%;
}

#content-wrap {
	/*
  min-height: 400px;
	*/
}
#preface {
	background:url('../images/preface_bkgrd.jpg') 0 -10px repeat-x;
	border-top:#CF710C 13px solid;
	height:245px;
}
#preface .block-block {
  padding-top: 5px;
}
/*
#preface h2,
#preface h3 {
  color: #D7E6E6;
  background-color: #3d5454;
  padding-left: 5px;
}
#preface h2,
#preface h3 ,
.sidebar h2 {
  background-color: #CF710C;
  color: #ffffff;
  padding: 3px 15px;
}
	*/
.sidebar .content {
  padding: 15px;
}
#bottom {
  color: #ffffff;
  margin-top: 15px;
  padding: 10px 0 60px;
}
#bottom h2 {
  color: #CF710C;
}
#bottom a,
#bottom a:visited {
  color: #ffffff;
  text-decoration: none;
}
#bottom a:hover {
  color: #CF710C;
}
#footer-wrap {
  background-color: #ffffff;
  color: #666666;
  margin-top: 10px;
  padding-bottom: 10px;
}
#footer-wrap ul,
#footer-wrap li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

footer{border-top:#000 1px solid;}

footer ul {
  list-style: none;
  text-align: center;
  margin: 10px 0;
}
footer ul li {
  list-style-type: none;
  display: inline;
  padding: 10px;
}
footer a {
  color: #cf710c;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
.footer {
  margin: 0 auto;
}
#levelten {
  text-align: center;
}

/* Forum Styles
-------------------------------------------------------------- */
#forum tr.even, tr.odd {
  background: url(../images/forum-row-bg.gif) repeat-x scroll;
  border-bottom:1px solid #CCCCCC;
  padding:0.5em 1em;
}

/* Comment Styles
-------------------------------------------------------------- */
#comments .comment {
  background: #F6F6F6;
  padding:0.5em 1em;
}

/* Helper Icon Styles
-------------------------------------------------------------- */
.region-content ul.links a {
  background-repeat: no-repeat;
  padding-bottom: 5px;
  padding-left: 20px;
}
.region-content ul.links li.comment-add a {
  background-image: url(../images/commentadd.gif);
}
.region-content ul.links li.comment-comments a {
  background-image: url(../images/comments.gif);
}
.region-content ul.links li.comment-edit a {
  background-image: url(../images/commentedit.gif);
}
.region-content ul.links li.comment-delete a {
  background-image: url(../images/commentdelete.gif);
}
.region-content ul.links li.comment-reply a {
  background-image: url(../images/commentadd.gif);
}
.region-content ul.links li.node-readmore a {
  background-image: url(../images/readmore.gif);
}
.region-content ul.links li.blog-usernames-blog a {
  background-image: url(../images/user.gif);
}
.region-content ul.links li.comment-forbidden a {
  background-image:url(../images/lock.gif);
}
.region-content ul.links li.upload-attachments a {
  background-image: url(../images/photo.gif);
}
.region-content ul.links li.book-printer a{
  background-image:url(../images/print.gif);
}
.region-content ul.links li.book-add-child a{
  background-image:url(../images/add.gif);
}

/** HCC MODS **/
table{border-collapse:collapse; margin-bottom:20px;}
td{padding-bottom:20px; vertical-align:top; !important}
td img{margin-right:25px;}
.field-name-field-tags{display:none;}
article ul, article ol{margin:-10px 0 10px 40px;}
article li{margin-bottom:5px;}
.float-img{float:left; margin:0 15px 10px 0; border:#ddd 1px solid;}
.research-questions{font-family:'droid_serifitalic'; font-size:110%; margin:15px 0 20px 40px; color:#599AC2;}
.research-questions li{margin-bottom:10px;line-height:1.5em;}
hr {
  border: none;
  background: #022249;
  margin: 50px 0;
}
.topmenu{float:right; margin:10px 0 0 0;}
.topmenu h2{display:none;}
.topmenu ul li{list-style:none; list-style-image:none; float:left; border-right:#CF710C 1px solid; padding:0 15px; line-height:1.1em; margin:0;}
.topmenu ul li:last-child{border:none;}
.topmenu li a{color:#CF710C;}
.topmenu li a.active, .topmenu li a.active-trail{color:#000;}

.home-hero {
  height: 400px;
  background: #fff;
  border-bottom: #000 1px solid;
}

.home-hero p {
  margin: 0;
}


.preface-1, .preface-2, .preface-3{width:276px; background:#EAEDE9; height:240px;}
.preface-1 .content, .preface-2 .content, .preface-3 .content{padding:5px 10px 10px; font-size:1.3em; font-family:'OpenSansLight'; line-height:1.53em;}
.preface-two{margin:0 66px;}
.mouse{float:right;}
.homepage-news{padding:0 20px;}
.homepage-news .content{padding:0;}
.homepage-news .content h2{font-family:'OpenSansRegular'; text-transform:none; font-size:1.15em; line-height:1.3em; margin-bottom:5px;}
.homepage-news .content h2 a{color:#CF710C;}
.homepage-news{}
#banner-wrap .news .content{margin-top:0;}

.subnav{background:#fff; border-bottom:#A6B292 1px solid; border-top:#A6B292 1px solid;}
.subnav h2{display:none;}
.subnav{color:#3D5454;}
#main .subnav li{list-style:none; list-style-image:none;}

.block-menu-block {
  padding-left: 25px;
}

.block-menu-block .menu .menu {
  padding-left: 15px;
  margin-top: 10px;
}

.block-menu-block .menu .menu .menu{
  border-left: #E78364 1px solid;
  padding-left: 8px;
  font-size: 0.9em;
  line-height: 1.2em;
}

.block-menu-block .menu .menu .menu li.leaf {
  padding: 0;
  margin-bottom: 18px;
}

/** footer **/
.footer{padding-top:10px}
div.footer_links{float:right; text-align:right; margin-bottom:40px;}
div.footer_links nav{}
div.footer_links nav li{background:none; padding:0 13px 5px 13px; border-right:#CF710C 1px solid; line-height:1em; height:auto;}
div.footer_links nav li:last-child{padding-right:0; border:0;}
div.footer_links nav a { padding:0; display:inline; text-transform:none;}
div.footer_links nav ul{float:right; margin:0 0 2px 0;}
div.footer_links .legal,div.footer_links .legal a, div.footer_links nav a {color:#CF710C;}
div.footer_links .legal{clear:right; font-size:.8em; line-height:1.6em;}
div.footer_links .legal a{ text-decoration:underline; margin-left:3px;}
.footer_links:after{clear:both;}
.footer-fb {margin-top: 10px;}
.footer-fb,
.footer-fb *{
  float:left;
}
.fb-txt {width: 90px; line-height: 1.2em;}
.footer-fb img {margin-right: 12px;}
.float-left {
  float:left;
}
.float-right {
  float: right;
}

/* FWB additions */

.domain-box {
  display: block;
  margin-bottom: 25px;
}

.domain-box-narrow {
  width: 310px;
}

.domain-box-wide {
  width: 460px;
}

.domain-box h2 {
  font-size: 2.0em;
  margin-bottom: 17px;
  margin-left: 37px;
  font-family: 'OpenSansRegular', Arial, FreeSans, sans-serif;
}

.domain-box h2 a {
  text-decoration: underline;
}

.domain-box-narrow.material {
  margin-top: 100px;
}  

.concepts-list {
  font-size: 1.2em;
  line-height: 1.3em;
  padding: 20px 27px;
}

.concepts-list ul {
  margin: 0;
}

.concepts-list li {
  margin-bottom: 20px;
  color: #315281;
}

.concepts-list li:last-child {
  margin-bottom: 5px;
}

.concepts-list a {
  font-size: 1.18em;
}

.concepts-border {
  border-width: 15px;
  border-style: solid;
}

.material .concepts-border {
  border-color: #93A260;
}

.psychosocial .concepts-border {
  border-color: #DFBF44;
}

.behavioral .concepts-border {
  border-color: #89B4C1;
}

.domain-name-box {
  margin-bottom: 20px;
}

.domain-name-box p {
  color: #fff;
  background: #305282;
  width: 180px;
  padding: 27px 0 29px 0;
  text-align: center;
  font-size: 1.3em;
}

.view-measures .view-header {
  margin-bottom: 40px;
}

h2.measure-header {
  display: block;
  background: #305282;
  color: #fff;
  text-transform: uppercase;
  margin-left: -35px;
  margin-bottom: 10px;
  padding: 7px 0 8px 35px;
  font-family: 'OpenSansRegular', Arial, FreeSans, sans-serif;
}

.measure-label {
  float: left;
  margin-right: 6px;
  display: inline;
  font-weight: bold;
  color: #305282;
}

.measure-spacing {
  margin-bottom: 15px;
}

.measure-checkbox {
  margin-bottom: 55px;
}

.measure-checkbox ul {
  list-style-image: url("../images/checkbox.gif");
  margin-bottom: 20px;
}

.measure-table table {
  border-spacing: 1px;
  margin: 25px 0 55px 0;
}

.measure-table th {
  background: #878687;
  color: #fff;
  line-height: 1.2em;
  padding: 8px 10px;
}

.measure-table th,
.measure-table td {
  border: #878687 1px solid;
  vertical-align: middle;
  text-align: center;
}

.measure-table td {
  padding: 10px 13px;
  font-size: 1.4em;
}

.measure-table td p {
  margin-bottom: 0;
}

.measure-table td:nth-child(1) {
  width: 345px;
  text-align: left;
  font-size: 1.0em;
}
